@media only screen and (max-width: 768px) {
	#searchBtn{
		width : 100%;
	}
}
html{
	background:no-repeat center center-fixed;
	background-size: cover;
}
/* needs important? */
body{
/*	color:#FFF !important;*/
	background-color: rgba(0,0,0,0) !important;
	
}
#color{
	margin:10px auto;
    background-color: rgba(0, 0, 0, 0.8);
	color :#108FA5;
	max-width:50%;
}
.innerWell{
	margin-top:5px;
	max-width:50%;
	min-width: 45%;
	background-color: rgba(76, 100, 186, 0.1) !important;
	display: inline-block;
	visibility:hidden;
}
.boxes{
	margin-top:5px;
	max-width:20%;
	background-color: rgba(76, 100, 186, 0.1) !important;
	display: inline ;
}


header{
	text-align:center;
	font-family: bungee;
	font-size: 40px;
	font-weight: 500;
	margin: 15 0 0 0;
}
/* needs important? */
#subHeader{
	text-align:center;
	font-family: raleway !important;
	font-size: 20px;
	font-weight: 100;
	margin: 0 0 0 0;
}
#center{
	text-align:center;
}

#location{
	font-family:raleway;
	font-size:50px;
	/*border-style: double ;
	border-radius: 5px;*/
	display: block;

	
}
#icon{
	font-size:65px;
	text-align: center;
}

#time{
	color: #FFF;
}
.deg{
	font-size: .5em;
}

.info{
	text-align:center;
	font-size:30px;
}
#high, #low{
	display: inline;
	font-size:20px;
}
#temp-container{
	width: 50% !important;
	display: inline;
	font-size:60px;
	margin:0 10;
}

#time{
	text-align: center;
}
#location{
	font-size: 2em;
}

#author{
	text-align:center;
	color: #fff;
}
/* needs important? */
a{
	color:#B2E3F4 !important; 
}
